/*フォント*/
@import url('');

body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans','Arial',sans-serif;
    font-weight: 400;
    color: #1C1B20;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
}

